<div id="main_id" class="container" style="margin-top: 5rem">
  <main>
    <!-- About start -->
    <section id="about_me_id">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        repellat deserunt iure fuga recusandae error, quos amet, voluptatum
        sequi.
      </p>
    </section>
    <!-- About start -->

    <!-- Blog start -->
    <section id="blog_id">
      <!-- 
        ngIf = expression ? then : else;
        Eğer blogCard true ise blog çalışsın yoksa noBlogCard çalışsın 
      -->

      <ng-container *ngIf="blogCard; then blog; else noBlogCard">
      </ng-container>

      <!-- 1.Template -->
      <ng-template #blog class="container">
        <div class="row">
          <!-- card -->
          <div
            *ngFor="let temp of blogCard"
            class="col-sm-12 col-md-3 col-lg-4"
          >
            <a [href]="temp.link">
              <div class="card mb-3">
                <img class="card-img-top" [src]="temp.picture" alt="Title" />
                <div class="card-body">
                  <h4 class="card-title">{{ temp.id }}</h4>
                  <p class="card-text">{{ temp.title }}</p>
                  <p class="card-text">{{ temp.description }}</p>
                  <span class="text-muted float-end">{{ temp.date }}</span>
                </div>
              </div>
            </a>
          </div>

          <!-- Hidden -->
          <!-- 
        [hidden]=false ise çalışır.
      -->
          <div [hidden]="!(blogCard.length >= 6)">
            6 tane üründen fazla var.
          </div>
          <!--end card -->
        </div>
        <!--end row -->
      </ng-template>

      <!-- 2.Template -->
      <ng-template #noBlogCard>
        <div class="alert alert-primary">Blog Yoktur.</div>
      </ng-template>


      <!-- 
        ngSwitch 
        <ng-container [ngSwitch]="true">
        <div *ngSwitchCase="false">First</div>
        <div *ngSwitchCase="true">Second</div>
        <div *ngSwitchDefault>Third</div>
      </ng-container> -->

      
      <!--    
        Hidden   
        <div [hidden]="false">  
          Eğer false ise çalışır.
                Deneme44
          </div> 
      -->
        

      <!--end container -->
    </section>
    <!-- Blog start -->

    <!-- Contact start -->
    <section id="contact_id"></section>
    <!-- Contact start -->
  </main>
</div>
