<!-- Blog start -->
<section id="blog_id">
  <!-- 
          ngIf = expression ? then : else;
          Eğer blogCard true ise blog çalışsın yoksa noBlogCard çalışsın 
          BlogCard: varsa 
          !BlogCard: yoksa 
      -->
  <!-- Blog Card Start -->

  <ng-container *ngIf="blogCard; then blog; else noBlogCard"> </ng-container>

  <ng-template #blog>
    <div class="container">
      <div class="row">
        <!-- Blog Search -->
        <div class="form-group mt-4 mb-4">

          <!-- 
          One way Data Binding: Tek yönlü veri göstermek (ts üzerinden Html veri göndermek)
          Two way Data Binding: Çift yönlü veri göstermek (ts ile html'de birbirine veri göndermek)
          -->
         
          <input
            type="text"
            class="form-control"
            id="blogCategory"
            placeholder="Blog ara ..."
            [(ngModel)]="dataFilterBlogCategory"
          />

          <!-- Blog Alert Dismissible -->
          <div
          *ngIf="dataFilterBlogCategory"
            class="alert alert-danger alert-dismissible fade show mt-2"
            role="alert"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
            Gösterilen Blog Category:<strong> {{dataFilterBlogCategory}} </strong>
          </div>
        </div>

        <!-- Blog Header -->
        <a href="/blog">
          <h2 class="text-center display-4 text-primary mb-4 mb-4">Blog</h2>
        </a>
        <!-- card -->
        <!-- searchBlogFilter pipeline bir parametre gönderiyoruz (dataFilterBlogCategory) -->
        <div
          *ngFor="
            let temp of blogCard | searchBlogFilter : dataFilterBlogCategory
          "class="col-sm-12 col-md-3 col-lg-4"
        >
          <a (click)="detailPage()">
            <div class="card mb-3">
              <img class="card-img-top" [src]="temp.picture" alt="Title" />
              <div class="card-body">
                <h4 class="card-title text-center">{{ temp.id }}</h4>
                <p class="card-text text-center fst-italic fw-bold ">{{ temp.header | uppercase  }}</p>
                <p class="card-text line-clamp4 text-center">{{ temp.text }}</p>
                <!-- <a (click)="detailPage()" [href]="temp.link" class="btn btn-primary">Details Page</a>-->

                <a (click)="detailPage()" class="btn btn-primary d-block"
                  >Details Page</a
                >
                <span class="text-muted float-start">{{
                  temp.categoryName | titlecase
                }}</span>
                <span class="text-muted float-end">{{
                  temp.date | date : "fullDate"
                }}</span>
              </div>
            </div>
          </a>
        </div>

        <!-- Hidden -->
        <!-- 
          [hidden]=false ise çalışır.
        -->
        <div [hidden]="!(blogCard.length >= 6)">6 tane üründen fazla var.</div>
        <!--end card -->
      </div>
      <!--end row -->
    </div>
  </ng-template>
  <ng-template #noBlogCard>
    <form action="#">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <input
              type="text"
              title="blog ara"
              placeholder="Blog ara"
              class="form-control mb-3"
            />
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary">Ara</button>
          </div>
          <div class="alert alert-primary mt-2">Blog Yoktur</div>
        </div>
      </div>
    </form>
  </ng-template>
  <!-- Blog Card End -->

  <!-- 
          ngSwitch 
          <ng-container [ngSwitch]="true">
          <div *ngSwitchCase="false">First</div>
          <div *ngSwitchCase="true">Second</div>
          <div *ngSwitchDefault>Third</div>
        </ng-container> -->

  <!--    
          Hidden   
          <div [hidden]="false">  
            Eğer false ise çalışır.
                  Deneme44
            </div> 
        -->
  <!--end container -->
</section>
<!-- Blog end -->
